.container-fluid {
    font-family: "Comic Sans MS", cursive, sans-serif;
}
#navbarlinks ul li {
    display: flex;
   align-items: center;
   justify-content: center;
   font-size: 25px;
}

.navbar-toggler {
    margin-right: 35px;
}
.boxlinks {
    border: 1px solid rgb(178, 178, 178);
}

.flexbox-container div {
    border: 1px solid rgb(178, 178, 178);
    background-color: white!important;
}

.logo {
    font-size: 30px;
    font-weight: bold;
    padding-left: 30px;
}

.flexbox-container {
    background-color: rgb(178, 178, 178);
    margin: 0;
    padding: 0;
}

.navbar-link {
    text-decoration: none;
}


.navbar-light .navbar-toggler{
    border: 2px solid;
}

.titlebody {
    display: flex;
    align-items: center;
    justify-content: center;
}


.row > section > div  {
    background-color: rgb(178, 178, 178);
    padding: 10px;
    margin-bottom: 20px;
}



